---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Greeting from '../components/Greeting.jsx';
import '../styles/global.css';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>