---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import '../styles/global.css';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>